<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commute">
   <resultMap type="commute" id="commuteMap">
      <id column="EMP_COMMUTE_NO" property="commuteNo"/>
      <result column="EMP_ID" property="empId"/>
      <result column="EMP_COMMUTE_CLOCKOUT" property="commuteClockout"/>
      <result column="EMP_COMMUTE_CLOCKIN" property="commuteClockin"/>
      <result column="EMP_COMMUTE_WORKDATE" property="commuteWorkDate"/>
      <result column="EMP_COMMUTE_STATUS" property="commuteStatus"/>
      <result column="EMP_COMMUTE_STARTTIME" property="commuteStarttime"/>
      <result column="EMP_COMMUTE_ENDTIME" property="commuteEndtime"/>
      <result column="EMP_COMMUTE_LATENESS" property="commutelateness"/>
      <result column="EMP_COMMUTE_ABSENCE" property="commuteAbsence"/>
   </resultMap>
   <insert id="insertCommute" parameterType="map">
      INSERT INTO EMP_COMMUTE VALUES('EC_'||SEQ_ECO_NO.NEXTVAL, #{empId},NULL, SYSDATE,SYSDATE,'근무중',NULL,NULL,'N','N')
   </insert>
   <select id ="selectCommute" parameterType="string" resultMap="commuteMap" >
      SELECT * FROM EMP_COMMUTE WHERE EMP_ID=#{empId} AND to_char( EMP_COMMUTE_WORKDATE, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
   </select>
   <update id = "updateStartTime" parameterType="map">
       UPDATE EMP_COMMUTE SET
          EMP_COMMUTE_STARTTIME = SYSDATE,
            EMP_COMMUTE_STATUS = '외근중'
       WHERE EMP_ID= #{empId} AND to_char( EMP_COMMUTE_WORKDATE, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
   </update>
   <update id = "updateEndTime" parameterType="map">
      UPDATE EMP_COMMUTE SET
          EMP_COMMUTE_ENDTIME = SYSDATE,
            EMP_COMMUTE_STATUS = '근무중'
       WHERE EMP_ID= #{empId} AND to_char( EMP_COMMUTE_WORKDATE, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
   </update>
   <update id = "updateClockout" parameterType="map">
      UPDATE EMP_COMMUTE SET
          EMP_COMMUTE_CLOCKOUT = SYSDATE,
            EMP_COMMUTE_STATUS = '퇴근'
       WHERE EMP_ID= #{empId} AND to_char( EMP_COMMUTE_WORKDATE, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
   </update>
</mapper>