<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="emp">
   <resultMap type="emp" id="empMap">
      <id column="EMP_ID" property="empId"/>
      <result column="EMP_PW" property="empPw"/>
      <result column="EMP_NAME" property="empName"/>
      <result column="EMP_GENDER" property="empGender"/>
      <result column="EMP_BRITHDATE" property="empBrithDate"/>
      <result column="EMP_HIREDATE" property="empHireDate"/>
      <result column="EMP_CURRENT" property="empCurrent"/>
      <result column="EMP_PHONE" property="empPhone"/>
      <result column="EMP_PHOTH" property="empPhoto"/>
      <result column="EMP_VACATION" property="empVacation"/>
      <result column="EMP_ACCESS" property="empAccess"/>
      <result column="EMP_ADDR" property="empAddr"/>
      <result column="EMP_ADDR_DETAIL" property="empAddrDetail"/>
      <!-- <result column="JOB_CODE" property="jobCode"/>
      <result column="DEPT_CODE" property="deptCode"/> -->
      <association resultMap="dept.deptMap" property="dept" />
      <association resultMap="job.jobMap" property="job" />
   </resultMap>
   
  <!-- 이규홍 -->
  
   <select id="selectEmpAllByCurrent" resultMap="empMap">
   		SELECT * FROM EMP
				LEFT JOIN DEPT USING(DEPT_CODE)
				LEFT JOIN JOB USING(JOB_CODE)
				WHERE EMP_CURRENT='Y'
			ORDER BY JOB_CODE
   </select>
   <update id="deleteEmp" parameterType="map">
   		UPDATE EMP SET EMP_CURRENT='N' WHERE EMP_ID=#{empId}
   </update>
   <insert id="insertEmp" parameterType="map">
   		INSERT INTO EMP VALUES('COMA_' || SEQ_EMP_NO.NEXTVAL,#{password},#{empName},NULL,NULL,NULL,'Y',NULL,NULL,DEFAULT,DEFAULT,NULL,NULL,NULL,NULL)
   </insert>
   <select id="countEmpByDept" resultType="map">
   		SELECT DEPT_TYPE ,COUNT(DEPT_CODE) AS deptCount FROM EMP JOIN DEPT USING(DEPT_CODE) GROUP BY DEPT_TYPE
   </select>
   <select id="countEmp" resultType="_int">
   		SELECT COUNT(*) FROM EMP WHERE EMP_CURRENT='Y'
   </select>
	<select id="searchEmp" parameterType="map" resultMap="empMap">
		SELECT * FROM EMP E
				LEFT JOIN DEPT D ON E.DEPT_CODE=D.DEPT_CODE
				LEFT JOIN JOB J ON E.JOB_CODE=J.JOB_CODE
			WHERE EMP_CURRENT='Y'
		<if test="searchData eq 'all'">
			AND EMP_NAME LIKE '%${textData}%' OR DEPT_TYPE LIKE '%${textData}%' OR JOB_TYPE LIKE '%${textData}%'
		</if>
		<if test="searchData != 'all'">
			AND ${searchData} LIKE '%${textData}%'
		</if>
	</select>
	<select id="countEmpByData" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM EMP
				LEFT JOIN DEPT USING(DEPT_CODE)
				LEFT JOIN JOB USING(JOB_CODE)
			WHERE EMP_CURRENT='Y'
		<if test="searchData eq 'all'">
			AND EMP_NAME LIKE '%${textData}%' OR DEPT_TYPE LIKE '%${textData}%' OR JOB_TYPE LIKE '%${textData}%'
		</if>
		<if test="searchData != 'all'">
			AND ${searchData} LIKE '%${textData}%'
		</if>
	</select>
	<select id="charEmpData" resultMap="empMap">
		SELECT * FROM EMP
	</select>
	
	<!--종민 -->
	
	<select id="selectEmpAll" resultMap="empMap">
		SELECT * FROM EMP
	</select>
	<select id="selectEmpById" resultMap="empMap" parameterType="string">
		SELECT * FROM EMP 
			LEFT JOIN DEPT USING(DEPT_CODE)
			LEFT JOIN JOB USING(JOB_CODE)
		WHERE EMP_ID = #{empId}
	</select>
	
	<!-- 영찬 -->
	
	<select id="selectEmpAllforChatting" resultMap="empMap">
		SELECT * FROM EMP
		LEFT JOIN DEPT USING(DEPT_CODE)
		LEFT JOIN JOB USING(JOB_CODE)
		WHERE EMP_CURRENT='Y'
		ORDER BY JOB_CODE
	</select>
	<select id="selectDeptListforChatting" resultMap="dept.deptMap">
		SELECT * FROM DEPT
	</select>
	
	<!-- 보연 -->
	
	<select id="selectEmpByData" parameterType="string" resultMap="empMap">
   	  SELECT * FROM EMP
	        LEFT JOIN DEPT USING(DEPT_CODE)
	        LEFT JOIN JOB USING(JOB_CODE)
   		WHERE EMP_CURRENT='Y'
   		 AND JOB_TYPE!='관리자'
   		 AND EMP_NAME LIKE '%'||#{data}||'%'
   		ORDER BY JOB_CODE
   </select>
   
 <!-- 우현 -->
 
	 <update id="updateEmp" parameterType="map">
	    UPDATE EMP
		     <set>
		     	<if test="empPw != null and empPw != ''">
	                EMP_PW = #{newEmpPw},
	            </if>
	            <if test="empPhoto != null and empPhoto != ''">
	                EMP_PHOTH = #{empPhoto},
	            </if>
		        EMP_NAME = #{empName},
		        EMP_BRITHDATE = #{empBrithDate},
		        EMP_GENDER = #{empGender},
		        EMP_PHONE = #{empPhone},
		        EMP_ADDR = #{address},
		        EMP_ADDR_DETAIL = #{address_detail}
		      </set>
	    WHERE EMP_ID= #{empId}
		</update>
		
		<update id="updateEmployeeDetail" parameterType="map" >
		    UPDATE EMP
	    	SET
	        	EMP_HIREDATE = #{empHireDate},
		        EMP_VACATION = #{empVacation},
	   		    DEPT_CODE = #{dept},
	        	JOB_CODE = #{job}
	    WHERE EMP_ID = #{empId}
		</update>
		<select id = "selectEmpId" resultType="map" >
			SELECT EMP_ID FROM EMP 
		</select> 
</mapper>