@charset "UTF-8";

/**{
	font-family: 'Noto Sans KR', sans-serif !important;
}
*/

html{
	margin:0 auto;
}

header>div.container{
	height: 125px;
}

footer#chatView-footer {
	z-index: 999;
	position: fixed;
    bottom: 0px;
    left: 0;
    height: 52px;
    width: 100%;
    background-color: white;
}

section{
	padding-top: 110px;
	padding-bottom: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

section>div:nth-child(1){
	max-height: 510px !important;
	overflow: auto;
	background-color: white;
	margin: 0 auto;
}

.messageView{
	overflow: hidden !important;
}

.emp-info{
	padding: 0px 5px !important;
	line-height: 1.7 !important;
	text-align: left;
}

.profile{
	padding-left: 0px !important;
}

.profile>img#profile-img{
	width: 25px;
	height: 25px;
	border: 1px solid black;
	border-radius: 12px;
}



.profile-list{
	height: 518px !important;
	padding-top: 15px;
	margin-bottom: 15px;
}

.profile-list > .row{
	margin-bottom: 4px;
}

.profile-list > .row>div:nth-last-child(1){
	text-align: left;
}

#contents{
	width: 100%;
	/*overflow-y: scroll;*/
}

#btnSend {
	margin: 0 auto;
	width: 85px;
	height: 53px;
}

.me,
.other {
	width: 100%;
	white-space: normal;
}


.me {
	justify-content: flex-end;
	float: right;
	margin-bottom: 5px;
}

.me span, .other span{
	padding-right: 5px;
	overflow-wrap: break-word;
}

.me>div.msg-container{
	color: white;
	font-weight: 900;	
	max-width: 300px !important;
	background-color: #1fb0ff;
	border-radius: 8px;
	padding:10px 15px;
}

.other{
	justify-content: flex-start;
	float: left;
	margin-bottom: 5px;
	
}

.other>div.msg-container{
	color: white;
	font-weight: 900;
	max-width: 300px !important;
	background-color: #15db12;
	border-radius: 8px;
	padding:10px 15px;
}
.me>div.time-container{
	padding-right: 5px;
}

.other>div.time-container{
	padding-left: 5px;
}

.time-container{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#bars {
/*	position: fixed;
	top: 0px;
	left: 0px;*/
	width: 100%;
	background-color: #5e72e4;
	padding: 12px 15px;
	border: 0;
	outline: 0;
	cursor: pointer;
	color: white;
	font-size: 22px;
}
#back {
/*	position: fixed;
	top: 0px;
	left: 0px;*/
	width: 100%;
	background-color: white;
	padding: 0px 0px;
	margin-left: 3px;
	border: 0;
	outline: 0;
	cursor: pointer;
	color: #5e72e4;
	font-size: 22px;
}

.connectView{
	font-weight: bolder;
	color: black;
}

.container{
	height: 550px;
}

#menu {
	position: fixed;
	top: 0;
	right: 0;
	background-color: white;
	height: 100%;
	padding: 10px 10px;
	transition: transform 0.3s ease;
	transform: translateX(100%);
	z-index: -999;
}

#menu>ul{
	list-style: none;
	padding-left: 0px;
	/*border-bottom: 1px solid slateblue;*/
}

#menu.active {
	transform: translateX(0%);
}

#exit-btn{
	width: 180px;
}

#message-content{
	width: 100%;
}


.openMsgContainer{
	margin:5px auto !important;
	padding:4px 0px;
	width: 100%;
	justify-content: center;
	margin-bottom:5px;
	background-color: aliceblue;
	opacity: 0.9;
}
