@charset "UTF-8";
header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 110px;
  z-index: 100;
  background-color: white;
}
section {
  padding-top: 110px; padding-bottom: 50px;
}
footer {
  position: fixed;
  bottom: 0; left: 0;
  height: 5px;
  width: 100%;
  background-color:white;
}

.btn{
	padding:4px 15px !important;
	height: 30px;
}

div.container{
	max-width: 1536px !important;
	overflow: auto;
}

div.container h4{
	margin:0;
}


button.menu{
	width:100%;
}

div.header-menu > div{
	padding: 0 0;
}

div.header-menu>div:nth-child(1){
/*	background-color: #edebf0;*/
}

strong:has(div){
	background-color: #f1ebf7;
}

.emp-list>.row:nth-child(1){
	margin-top:10px;
	text-align: center;
}

.chatting-list>.row:nth-child(1){
	margin-top:10px;
	text-align: center;
}

.emp-list-btn, .chatting-list-btn{
	cursor: pointer;
}

div.header-menu img{
	width:40px;
	height: 40px;
	padding: 1px 1px;
	margin-bottom: 5px;
}

hr {
    margin: 2px 0 !important;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.chat-title{
	padding:5px;
	background-color: #a24ff0;
	color: #f1ebf7;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#create-room{
	display: none;
}

.emp-list, .chatting-list{
	margin-top:5px;
	text-align: left;
}

.emp-list>div.row{
	padding:0px 5px;
	margin-bottom: 2px;
}

.emp-list .col-2{
	text-align: right;
}

.job-class{
	border-top: 1px solid rgba(236, 230, 237, 0.9);
	border-bottom: 1px solid rgba(236, 230, 237, 0.9);
	padding-top:5px;
	padding-bottom: 5px;
	margin-top:7px !important;
	margin-bottom: 7px;
}

.job-name{
	text-align: right;
	font-weight: bold;
}

.chatting-room{
	border-top: 1px solid rgba(236, 230, 237, 0.9);
	border-bottom: 1px solid rgba(236, 230, 237, 0.9);
	padding-top:5px;
	padding-bottom: 5px;
	margin-top:7px !important;
	margin-bottom: 7px;
}

.footer-hr{
	margin:5px 0 !important;
}


/* Create Room Modal */
.modal-body{
	border-top: 1px solid rgba(236, 230, 237, 0.9);
	border-bottom: 1px solid rgba(236, 230, 237, 0.9);
}

.modal-body .row{
	margin: 5px 0px;
}

.content{
	padding: 0px 1px !important;
}

.chatting-list h2{
	text-align: center;
}