<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<resultMap type="board" id="boardMap">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_DATE" property="boardDate"/>
		<result column="BOARD_READ_COUNT" property="boardReadCount"/>
		<result column="BOARD_FILE_CHECK" property="boardFileCheck"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="REPLY_COUNT" property="replyCount"/>
		<association resultMap="emp.empMap" property="emp"/>
	</resultMap>
	
	<select id="selectBoardByType" resultMap="boardMap" parameterType="_int">		
		SELECT *
		FROM BOARD
		JOIN EMP USING(EMP_ID)
		WHERE BOARD_TYPE=#{boardType}
		ORDER BY BOARD_DATE DESC
		
		<!-- SELECT COUNT(*)
		FROM REPLY R
		LEFT JOIN BOARD B ON B.BOARD_NO=R.BOARD_NO
		GROUP BY B.BOARD_NO -->
	</select>
	
	<select id="selectReplyCount" resultMap="boardMap">
		SELECT B.BOARD_NO, B.BOARD_TITLE, B.BOARD_DATE, E.EMP_NAME, B.BOARD_READ_COUNT, COUNT(R.REPLY_NO) AS REPLY_COUNT
		FROM BOARD B
		JOIN EMP E ON B.EMP_ID = E.EMP_ID
		LEFT JOIN REPLY R ON B.BOARD_NO = R.BOARD_NO
		WHERE B.BOARD_TYPE = 1
		GROUP BY B.BOARD_NO, B.BOARD_TITLE, B.BOARD_DATE, E.EMP_NAME, B.BOARD_READ_COUNT
		ORDER BY B.BOARD_DATE DESC
	</select>
	
	<select id="selectNoticePost" resultMap="boardMap" parameterType="map">
		SELECT *
		FROM BOARD
		WHERE BOARD_NO=#{boardNo}
	</select>
	
	<select id="selectBoardByNo" resultMap="boardMap" parameterType="_int">
	    SELECT BOARD_NO, EMP_ID, BOARD_TITLE, BOARD_CONTENT, EMP_NAME, BOARD_DATE, BOARD_READ_COUNT, BOARD_TYPE
	    FROM BOARD
	    JOIN EMP USING(EMP_ID)
	    WHERE BOARD_NO=#{boardNo}
	</select>
	
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_TYPE=#{boardType}
	</select>
	
	
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD(BOARD_NO, EMP_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_TYPE)
		VALUES(SEQ_BOD_NO.NEXTVAL, #{emp.empId}, #{boardTitle}, #{boardContent}, SYSDATE, 0)
	</insert>
	
	
	<update id="updateBoardCount" parameterType="_int">
		UPDATE BOARD
		SET BOARD_READ_COUNT = BOARD_READ_COUNT+1
		WHERE BOARD_NO=#{boardNo}
	</update>
	
    <update id="updateBoard" parameterType="board">
        UPDATE BOARD
        SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}
        WHERE BOARD_NO = #{boardNo}
    </update>

    <delete id="deleteBoard" parameterType="map">
        DELETE FROM BOARD
        WHERE BOARD_NO = #{boardNo} AND BOARD_TYPE = #{boardType}
    </delete>
</mapper>