<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardFile">
	<resultMap type="boardFile" id="boardFileMap">
		<id column="BOARD_FILE_NO" property="boardFileNo"/>
		<result column="BOARD_FILE_ORINAME" property="boardFileOriname"/>
		<result column="BOARD_FILE_RENAME" property="boardFileRename"/>
		<result column="BOARD_FILE_DATE" property="boardFileDate"/>
		<association resultMap="board.boardMap" property="board"/>
	</resultMap>
</mapper>