<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reply">
	<resultMap type="reply" id="replyMap">
		<id column="REPLY_NO" property="replyNo"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_DATE" property="replyDate"/>
		<result column="REPLY_PARENT_NO" property="replyParentNo"/>
	</resultMap>
</mapper>