<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dept">
	<resultMap type="dept" id="deptMap">
		<id column="DEPT_CODE" property="deptCode" />
		<result column="DEPT_TYPE" property="deptType" />
	</resultMap>
	<select id="selectDeptCount" resultType="map">
		SELECT DEPT_TYPE, COUNT(*) FROM EMP JOIN USING(DEPT_CODE) GROUP BY DEPT_CODE
	</select>
</mapper>