<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approval">

	<resultMap type="apprDoc" id="apprDocMap">
		<id column="DOC_NO" property="docNo"/>
		<result column="DOC_TYPE" property="docType"/>
		<result column="DOC_TITLE" property="docTitle"/>
		<result column="DOC_DATE" property="docDate"/>		
		<result column="DOC_CORRECT_DATE" property="docCorrectDate"/>		
		<result column="DOC_PROGRESS" property="docProgress"/>		
		<result column="EMP_ID" property="empId"/>		
		<collection property="files" ofType="apprAttach">
			<id column="ATTACH_NO" property="attachNo"/>
			<result column="ATTACH_ORI_NAME" property="attachOriName"/>
			<result column="ATTACH_RE_NAME" property="attachReName"/>
			<result column="DOC_NO" property="docNo"/>		
		</collection>
		<collection property="approver" ofType="approver">
			<id column="APPROVER_NO" property="approverNo"/>
			<result column="DOC_NO" property="docNo"/>
			<result column="EMP_ID" property="empId"/>
			<result column="APPR_STATUS" property="apprStatus"/>		
			<result column="APPR_ORDER" property="apprOrder"/>		
		</collection>
		<collection property="ref" ofType="refer">
			<id column="REFERRER_NO" property="referrerNo"/>
			<result column="DOC_NO" property="docNo"/>
			<result column="EMP_ID" property="empId"/>
		</collection>
	</resultMap>
	
	
	<resultMap type="apprLeave" id="apprLeaveMap">
		<id column="LEAVE_NO" property="leaveNo"/>
		<result column="LEAVE_TYPE" property="leaveType"/>
		<result column="LEAVE_START" property="leaveStart"/>
		<result column="LEAVE_END" property="leaveEnd"/>
		<result column="LEAVE_DETAIL" property="leaveDetail"/>	
		<result column="DOC_NO" property="docNo"/>		
	</resultMap>


	<resultMap type="apprCash" id="apprCashMap">
		<id column="CASH_NO" property="cashNo"/>
		<result column="CASH_EXPENSE" property="cashExpense"/>
		<result column="CASH_DATE" property="cashDate"/>
		<result column="CASH_DETAIL" property="cashDetail"/>
		<result column="DOC_NO" property="docNo"/>
	</resultMap>


	<resultMap type="apprReq" id="apprReqMap">
		<id column="REQ_NO" property="reqNo"/>
		<result column="REQ_DETAIL" property="reqDetail"/>
		<result column="REQ_DATE" property="reqDate"/>
		<result column="DOC_NO" property="docNo"/>		
	</resultMap>
	

	<resultMap type="apprEtc" id="apprEtcMap">
		<id column="ETC_NO" property="etcNo"/>
		<result column="ETC_DETAIL" property="etcDetail"/>
		<result column="ETC_DATE" property="etcDate"/>
		<result column="DOC_NO" property="docNo"/>		
	</resultMap>
	
	

<!-- 문서 작성 insert -->

	<insert id="insertApprovalDoc" parameterType="apprDoc">
		INSERT INTO APPROVAL_DOC VALUES('DOC_'||SEQ_APPROVAL_NO.NEXTVAL, #{docType}, #{docTitle}, DEFAULT, NULL, '대기', #{empId})
		<selectKey keyProperty="docNo" order="AFTER" resultType="string">
			SELECT 'DOC_'||SEQ_APPROVAL_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertLeave" parameterType="apprLeave">
		INSERT INTO APPROVAL_LEAVE VALUES('LV_'||SEQ_APPROVAL_NO.NEXTVAL, #{leaveType}, #{leaveStart}, #{leaveEnd}, #{leaveDetail}, #{docNo})
	</insert>
	
	<insert id="insertCash" parameterType="apprCash">
		INSERT INTO APPROVAL_CASH VALUES('CSH_'||SEQ_APPROVAL_NO.NEXTVAL, #{cashExpense}, #{cashDate}, #{cashDetail}, #{docNo})
	</insert>

	<insert id="insertReq" parameterType="apprReq">
		INSERT INTO APPROVAL_REQUEST VALUES('REQ_'||SEQ_APPROVAL_NO.NEXTVAL, #{reqDetail}, #{reqDate}, #{docNo})
	</insert>
	
	<insert id="insertEtc" parameterType="apprEtc">
		INSERT INTO APPROVAL_ETC VALUES('ETC_'||SEQ_APPROVAL_NO.NEXTVAL, #{etcDetail}, #{etcDate}, #{docNo})
	</insert>
	
	<insert id="insertAttach" parameterType="apprAttach">
		INSERT INTO APPROVAL_ATTACHMENT VALUES('ATT_'||SEQ_APPROVAL_NO.NEXTVAL, #{attachOriName}, #{attachReName}, #{docNo})
	</insert>
	
	<insert id="insertApprover" parameterType="approver">
		INSERT INTO APPROVER VALUES('APP_'||SEQ_APPROVAL_NO.NEXTVAL, #{docNo}, #{empId}, #{apprStatus}, #{apprOrder})
	</insert>
	
	<insert id="insertRefer" parameterType="refer">
		INSERT INTO REFERRER VALUES('REF_'||SEQ_APPROVAL_NO.NEXTVAL, #{docNo}, #{empId})
	</insert>
	
	
<!-- 문서 상세보기 select -->

	<select id="selectAppDoc" parameterType="map" resultMap="apprDocMap">
		SELECT * FROM APPROVAL_DOC 
				LEFT JOIN APPROVAL_ATTACHMENT USING(DOC_NO)
				LEFT JOIN APPROVER USING(DOC_NO)
				LEFT JOIN REFERRER USING(DOC_NO)
				<choose>
					<when test="docType eq 'leave'">
						LEFT JOIN APPROVAL_LEAVE USING(DOC_NO)	
					</when>
					<when test="docType eq 'cash'">
						LEFT JOIN APPROVAL_CASH USING(DOC_NO)
					</when>
					<when test="docType eq 'req'">
						LEFT JOIN APPROVAL_REQUEST USING(DOC_NO)
					</when>
					<when test="docType eq 'etc'">
						LEFT JOIN APPROVAL_ETC USING(DOC_NO)
					</when>
				</choose>
			WHERE DOC_NO = #{docNo}	
			ORDER BY DOC_DATE DESC		
	</select>
		

</mapper>