.row{
/*	     border: 1px solid #444444;*/
	     width: 100%;
	     margin: 40px;
	  
  }

.mylabel{
	background-color: rgb(215, 221, 245) !important;;
 	width : 20%;	
 	}
	
.table th{
	border:1px solid rgb(170, 173, 199) !important;
	font-size: 15px;
}	

.table td{
	border:1px solid rgb(170, 173, 199) !important;
	font-size: 15px;
	width : 30%;
}
	


