.row{
	  /*   border: 1px solid #444444;*/
	     background-color: lavenderblush;
	     width: 100%;
	  
  }
 
 .appr_table{
    width: 700px;
    height: 150px;
    border: 1px solid rgb(192, 192, 192);
    background-color: rgb(255, 255, 255);
 
    
  }
  
  .sign_td{
	  width: 100px;
	  height: 100px;
	  
  }
  .ref_name{
	  text-align: left;

  }
  
 .ref_table{
  	width: 700px;
  	height: 30px;
    border: 1px solid rgb(192, 192, 192);
  }
  th, td, th {
    border: 1px solid rgb(192, 192, 192);
  }
  .nav-item{
  	margin: 5px;
  }

  .doc_basic{
	  
	width: 100%;
	
	
  }
  .line_btn{
	  text-align: left;
	  margin: 5px;
  }

  
  .line1{
	  height: 50px;
	  text-align: right;
  }
  .line3{
	  height: 50px;
  }
  