.row{
/*     border: 1px solid #444444;*/
	     width: 100%;
	     margin: 40px;
	  
  }

.type_lable{
	margin-top: 3px;
}

.write_lable{
/*	border: 1px solid #444444;*/
	margin-top: 7px;
}

.ck_appr{
	
	margin-top: -40px;
	text-align: left;
	
}

.date_bo{
/*	border: 1px solid #444444;*/
	text-align: center !important;
	margin-top: -10px;
	
	
}

.start_bo{
/*	border: 1px solid #444444;*/
	margin-left: -55px;
}

.end_bo{
/*	border: 1px solid #444444;*/
	margin-right: 25px;
/*	margin-right: -30px;*/
}

/*
#date_span{
	width: 100px;
}*/
 
 .appr_table{
    width: 700px;
    height: 150px;
    border: 1px solid rgb(192, 192, 192);
    background-color: rgb(255, 255, 255);
 
    
  }
  
  .after_td{
	  width: 100px;
	  height: 30px;
	  
  }
  .ref_name{
	  text-align: left;

  }
  
 .ref_table{
  	width: 700px;
  	height: 30px;
    border: 1px solid rgb(192, 192, 192);
  }
  th, td, th {
    border: 1px solid rgb(192, 192, 192);
  }
  .nav-item{
  	margin: 5px;
  }

  .doc_basic{
	  
	width: 100%;
	
	
  }
  
  .btn_container{
/*	  border: 1px solid #444444;*/
	  margin-top: 70px;
	  
  }


  