<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="student">
   <resultMap id="studentMap" type="student">
      <id column = "stu_No" property="stuNo"/>
      <result column = "stu_Name" property="stuName"/>
      <result column = "stu_start_date" property="stuStartDate"/>
      <result column = "stu_end_date" property="stuEndDate"/>
      <result column = "stu_com_status" property="stuComStatus"/>
      <result column = "stu_emp_status" property="stuEmpStatus"/>
      <result column = "emp_id" property="empId"/>
      <result column = "stu_birth" property="stuBirth"/>
      <result column = "stu_profile" property="stuProfile"/>
   </resultMap>
   <!-- 이규홍 -->
   <select id="selectStudent" resultMap="studentMap">
		SELECT * FROM STUDENT
   </select>
   <select id="studentCountByEmpId" resultType="map">
		SELECT EMP_NAME, COUNT(EMP_ID) AS studentCount FROM STUDENT JOIN EMP USING(EMP_ID) GROUP BY EMP_NAME
   </select>
   <select id="countStudent" resultType="_int">
   		SELECT COUNT(*) FROM STUDENT
   </select>
   <select id="searchStudent" parameterType="map" resultMap="studentMap">
   		SELECT * FROM STUDENT WHERE STU_NAME like '%'||#{textData}||'%'
   </select>
	<select id="countStudentByData" parameterType="map" resultType="_int">
   		SELECT STU_COM_STATUS, STU_EMP_STATUS, COUNT(*) FROM STUDENT
   		<if test="textData != null">
   			WHERE STU_NAME like '%'||#{textData}||'%'
   		</if>
   </select>
   <select id="charStudentData" resultMap="studentMap">
   		SELECT * FROM STUDENT
   </select>
   <select id="countStudentByCom"  resultType="_int">
   		SELECT COUNT(*) FROM STUDENT WHERE STU_COM_STATUS='Y'
   </select>
   <select id="countStudentByEmp" resultType="_int">
   		SELECT COUNT(*) FROM STUDENT WHERE STU_EMP_STATUS='Y'
   </select>
   <update id="updateStudentByCom">
   		UPDATE STUDENT SET STU_COM_STATUS='Y' WHERE STU_END_DATE==SYSDATE;
   </update>
   
</mapper>

